.contact{
  width: 500px;
  height: 100px;
  display: inline-flex;
  box-shadow: 1px 1px 30px #616161;
  background: #EF5350;

}

.contact .pic{
  width: 100px;
  height: 100px;
}

.contact .information{
  padding-top: 10px;
  padding-left: 20px;
  width: 100px;
  height: 100px;
  color: #fff;

}
